project:
  type: website
  output-dir: docs

website:
  title: "Project"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    code-fold: true
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
execute:
  message: false



